.react-datepicker {
  font-family: inherit;
  border: none !important;
}

.react-datepicker__header {
  background: white;
  border-bottom: none;
}

.react-datepicker__month-container {
  padding: 10px 15px;
}

.react-datepicker__month {
  margin: 0 8px;
}

.react-datepicker__day,
.react-datepicker__day-name {
  width: 38px;
  height: 38px;
  line-height: 38px;
  margin: 2px;
  font-size: 14px;
  border-radius: 9999px !important; /* full circle */
}

.react-datepicker__day:hover {
  background: #f7f7f7;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color: #ff385c !important; /* Airbnb pink */
  color: white !important;
}

.react-datepicker__day--in-selecting-range {
  background-color: #ff385c55 !important; /* soft pink */
}

.react-datepicker__day--keyboard-selected {
  background: #ff385c !important;
}

.react-datepicker__day--range-start {
  background-color: #ff385c !important;
  color: white !important;
}

.react-datepicker__day--range-end {
  background-color: #ff385c !important;
  color: white !important;
}

.react-datepicker__triangle {
  display: none;
}

.airbnb-calendar {
  padding: 20px;
}
