# Môi trường ứng dụng (development | production)
NODE_ENV="development"

# URL của API Backend NestJS (Ví dụ: http://localhost:3069 hoặc URL Render)
NEXT_PUBLIC_API_BASE_URL="your_backend_api_url"

# Cấu hình đăng nhập bằng Google
NEXT_PUBLIC_GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"

# API Key cho dịch vụ thời tiết
NEXT_PUBLIC_WEATHER_API_KEY="your_weather_api_key"

# Bật/tắt chức năng thanh toán trực tuyến (true: mở | false: tạm đóng/bảo trì)
NEXT_PUBLIC_ENABLE_PAYMENT="true"
